<html>
<head>
    <title>GT Taxi</title>
</head>
<body>
<h1>GT Taxi</h1>
Are you:
<ul>
    <li><a href="/driver">Driver</a></li>
    <li><a href="/passenger">Passenger</a></li>
    <li><a href="/observer">Observer</a></li>
</ul>
</body>
</html>