<html>
<head>
    <title>GT Taxi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="index-page">
<h1>GT Taxi</h1>
Are you:
<ul class="index-links">
    <li><a href="/driver">Driver</a></li>
    <li><a href="/passenger">Passenger</a></li>
    <li><a href="/observer">Observer</a></li>
</ul>
</body>
</html>
