<html>
<head>
    <title>Passenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div id="errors"></div>
<div id="passenger-block"></div>
<script type="module">
    import {PassengerComponent} from "/assets/js/passenger_component.js";
    import {GetCookie, GetE} from "/assets/js/util.js";
    import {Dispatcher} from "/assets/js/dispatcher.js";
    import {NewECT} from "/assets/js/util.js";
    import {ApiClient} from "/assets/js/api.js";

    // TODO create an App class to initialize the dispatcher and api client
    const dispatcher = new Dispatcher();

    dispatcher.addListener('error', (error) => {
        console.error("error", error);

        const errors = GetE("errors");
        if (errors === null) {
            console.error("errors div not found");
            return;
        }

        const errorDiv = NewECT('div', 'error', error);
        errors.appendChild( errorDiv);
    })


    const api = new ApiClient(dispatcher);

    const passengerId = GetCookie("gt_taxi_id");
    const passengerComponent = new PassengerComponent(passengerId, api);
    const passengerBlock = GetE("passenger-block");
    passengerBlock.appendChild( await passengerComponent.render());

    console.log("Passenger page loaded");

    let isTls = window.location.protocol === "https:";
    passengerComponent.initWs(isTls);
    passengerComponent.handleServerRequestsCoordinates({})

</script>
</body>
</html>
