<html>
<head>
    <title>Passenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div id="errors"></div>
<div id="passenger-block"></div>
<script type="module">
    import {PassengerComponent} from "/assets/js/passenger_component.js";
    import {GetCookie, GetE} from "/assets/js/util.js";
    import {App} from "/assets/js/app.js";

    const app = new App();

    const passengerId = GetCookie("gt_taxi_id");
    const passengerComponent = new PassengerComponent(passengerId, app.getApiClient());
    const passengerBlock = GetE("passenger-block");
    passengerBlock.appendChild( await passengerComponent.render());

    console.log("Passenger page loaded");

    let isTls = window.location.protocol === "https:";
    passengerComponent.initWs(isTls);
    passengerComponent.handleServerRequestsCoordinates({})

</script>
</body>
</html>
